@use "./base.scss";

// put your custom CSS here!
.search>.search-button>p {
   padding-top: 10px;
}

a.internal.tag-link {
    display: ruby-text;
}

.explorer-content ul li>a {
    display: block;
	}
	
	@media (min-width: 800px) and (max-width:1200px) {
    .page>#quartz-body .center,.page>#quartz-body footer {
        /* margin-right:0 */
    }
}

@media (max-width: 800px) {
    .page>#quartz-body .center,.page>#quartz-body footer {
        /* margin-left:0; *//* margin-right:0; */
    }
}

footer ul {
       justify-content: center;
}